<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.github.cgamesplay.FacebookFriendsScreenSaver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Facebook Friends</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Ryan Patterson. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>WebViewScreenSaverView</string>
	<key>PrimaryURL</key>
	<string>http://cgamesplay.github.com/WebViewScreenSaver/profile-pics/saver.html?saver=true</string>
	<key>ConfigureURL</key>
	<string>http://cgamesplay.github.com/WebViewScreenSaver/profile-pics/configure.html</string>
	<key>ConfigureFrame</key>
	<array>
		<string>500</string>
		<string>200</string>
	</array>
	<key>DebugMode</key>
	<false/>
</dict>
</plist>
