html, body {
  color: #fff;
  background: #000;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Lucida Grande;
  font-size: 11px;
}

#content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#content > .row {
  -webkit-box-flex: 1;
  display: -webkit-box;
}

#content > .row > div {
  -webkit-box-flex: 1;
  position: relative;
}

#content .picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-name: appearing;
  -webkit-animation-timing-function: linear;
  -webkit-transform: translate3d(0, 0, 0);
}

#content .picture.leaving {
  -webkit-animation-name: leaving;
  z-index: 1;
}

@-webkit-keyframes appearing {
  0%, 50% {
    -webkit-transform: perspective(500px) rotateY(-90deg);
  }

  100% {
    z-index: 1;
    -webkit-transform: perspective(500px) rotateY(0deg);
  }
}

@-webkit-keyframes leaving {
  0% {
    -webkit-transform: perspective(500px) rotateY(0deg);
  }

  50%, 100% {
    -webkit-transform: perspective(500px) rotateY(90deg);
  }
}

#login-button {
  padding: 100px;
  text-align: center;
}
