html, body {
  background: #000;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
}

#content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#content > div {
  -webkit-box-flex: 1;
  display: -webkit-box;
}

#content > div > div {
  -webkit-box-flex: 1;
  position: relative;
}

#content .picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-name: appearing;
  -webkit-animation-timing-function: linear;
  -webkit-transform: translate3d(0, 0, 0);
}

#content .picture.leaving {
  -webkit-animation-name: leaving;
}

@-webkit-keyframes appearing {
  0%, 50% {
    -webkit-transform: perspective(500px) rotateY(-90deg);
  }

  100% {
    -webkit-transform: perspective(500px) rotateY(0deg);
  }
}

@-webkit-keyframes leaving {
  0% {
    -webkit-transform: perspective(500px) rotateY(0deg);
  }

  50%, 100% {
    -webkit-transform: perspective(500px) rotateY(90deg);
  }
}
